.banner {
  height: 56vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner::before {
  content: '';
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 56vh;
  width: 100%;
}
.banner-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 100%;
  padding: 20px;
}
.banner-text-area > * {
  z-index: 10;
}

@media screen and (max-width: 768px) {
  /* 태블릿 및 모바일 */
  .banner-text-area {
    width: 100%;
  }
}